.row{

    padding:10px;
    --bs-gutter-x: 0;
    margin-top:-90px
}

div{
    background-color:#e0ae63;
    text-align:left;
}

.container{
  
    background: #f1e3cc;
    padding: 25px;
    padding-left: 30px;
    color: #292b2c;
    
    border-radius: 10px;
    justify-content: left;
    
  }

  button {
    display: inline-block;
    border-radius: 4px;
    background-color: #dfcfac;
   
    
    border: none;
    
    text-align: center;
    
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
   
    
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 5px;
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }
  
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }




/*Estilo de la foto de perfil*/


@media(min-width:576px){
    #fotodeperfil{
        position:absolute;
        width:18%;
        border-radius: 100%;
        box-shadow: 0 0 10px rgb(145, 143, 143);
        left:3%;
        Top:210px;

    }

}

    @media(max-width:575px){


        
    #fotodeperfil{
        position:absolute;
        width:30%;
        border-radius: 100%;
        box-shadow: 0 0 10px rgb(145, 143, 143);
        left:33%;
        Top:430px;

    }

    #nombre{
        position:absolute;
        width:60%;
        left:33%;
        top:520px;
        }
    
       #p {
            position:absolute;
            width:50%;
            left:33%;
            top:630px;

        }

        #acercade{
            position:absolute;
            width:50%;
            left:5%;
            top:690px;
        }
    
        #p2 {
            position:absolute;
            width:90%;
            left:5%;
            top:730px;

        }


        #b1{
            position:absolute;
            width:30%;
            left:4%;
            top:850px;

        }

        #b2{
            position:absolute;
            width:30%;
            left:36%;
            top:850px;

        }


        #b3{
            position:absolute;
            width:15%;
            left:67%;
            top:850px;

        }


        
    }

    
/*etiqueta nombre*/

#nombre{

    font-weight: bold;
    margin-top: 12%;

}

