
  <div class="container">
    <div class="row">

    <h2>Hard & Soft skills</h2>
    <div class="col-sm-8 col-md-8 col-lg-8">

        <circle-progress
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="1"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageSrc]="'../../../assets/imagenes/html.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [outerStrokeColor]="'#9ACD32'"
            [innerStrokeColor]="'#FFFFFF'"
            [animation]="true"
            [animationDuration]="700"
            

        ></circle-progress>


        <circle-progress
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="1"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageSrc]="'../../../assets/imagenes/CSS.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [outerStrokeColor]="'#9ACD32'"
            [innerStrokeColor]="'#FFFFFF'"
            [animation]="true"
            [animationDuration]="700"

    ></circle-progress>

    <circle-progress
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="1"
        [showSubtitle]="false"
        [showUnits]="false"
        [imageSrc]="'../../../assets/imagenes/js.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeColor]="'#9ACD32'"
        [innerStrokeColor]="'#FFFFFF'"
        [animation]="true"
        [animationDuration]="700"

></circle-progress>

<circle-progress
    [percent]="70"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="1"
    [showSubtitle]="false"
    [showUnits]="false"
    [imageSrc]="'../../../assets/imagenes/git.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeColor]="'#9ACD32'"
    [innerStrokeColor]="'#FFFFFF'"
    [animation]="true"
    [animationDuration]="700"

></circle-progress>

<circle-progress
    [percent]="50"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="1"
    [showSubtitle]="false"
    [showUnits]="false"
    [imageSrc]="'../../../assets/imagenes/eng.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeColor]="'#9ACD32'"
    [innerStrokeColor]="'#FFFFFF'"
    [animation]="true"
    [animationDuration]="700"

></circle-progress>

<circle-progress
    [percent]="100"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="1"
    [showSubtitle]="false"
    [showUnits]="false"
    [imageSrc]="'../../../assets/imagenes/colab.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="120"
    [outerStrokeColor]="'#9ACD32'"
    [innerStrokeColor]="'#FFFFFF'"
    [animation]="true"
    [animationDuration]="700"

></circle-progress>

    

</div>
    
    


    </div>
</div>
