<div class="container" >

    <main class="content">
    
        <article class="article" >

            <h2>Educación</h2>
            <button type="button" class="btn btn-navbar" >
              
                <img src="../../../assets/imagenes/editarr.png" width="20px" height="20px">
                  
                 </button>
            <div class="col-lg-11">
                <ul>
                    <li><h3>Estudio 1</h3> - <h3>(Years)</h3></li>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. 
                        Quasi quibusdam ad ullam aspernatur,
                        repudiandae totam, illo quos atque 
                        optio dolorem perspiciatis. </p>
                </ul>

                <ul>
                    <li><h3>Estudio 2</h3> - <h3>(Years)</h3></li>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. 
                        Quasi quibusdam ad ullam aspernatur,
                        repudiandae totam, illo quos atque 
                        optio dolorem perspiciatis. </p>
                </ul>
            
    
     
        
    
    </div>
      
  </article>
</main>
</div>
