
<header class="header">
  <div class="col header-nav " >
    
  <nav class="navbar " style="background-color:#e0ae63 " >
    <div class="container-fluid ">
      
        
      <a class="navbar-brand"><img src="/assets/imagenes/arg-programa1.png"></a>
  
  
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        
  
        <button type="button" class="btn btn-primary">
          <i class="facebook-icon fa fa-facebook"></i>
    
        </button>
    
        <button type="button" class="btn btn-dark">
          <i class="github-icon fa fa-github" ></i>
        </button>
    
        <button type="button" class="btn btn-danger" alt="instagram">
          
          <i class="instagram-icon fa fa-instagram"></i>
  
        </button>
  
        <button class="btn btn-light" type="button">Login</button>
      
      </div>
    </div>
  </nav>
  </div>
  
</header>


<div class="container" >

  <main class="content">
    

    <article  class="article-header">
      

      <div style="position:relative">
        <img  src="/assets/imagenes/banner44.jpg" class="img-fluid" style = "margin: 2px" >

        <div style="position:absolute; top:300; left:0;" >
        
          <img class="redondo" src="/assets/imagenes/gabirock.jpg" >
      
        </div>
        <div style="position:absolute; top:530; left:250;">
        <button type="button" class="btn btn-navbar" >
              
          <img src="../../../assets/imagenes/editarr.png" width="20px" height="20px">
            
           </button>
          </div>
        <div style="position:absolute; top:575; left:50;">
          <h3> Gabriela Lucero </h3>

          <p>Profesora de Matemática</p>
          <p>Córdoba, Argentina</p>
  
          <div class="d-grid gap-2 d-md-flex justify-content-md-initial">
  
          <button class="btn btn-light" type="button">Tengo interés en</button>
          <button class="btn btn-light" type="button">Añadir seccion</button>
          <button class="btn btn-light" type="button">Más</button>
        </div>
      
        </div>
      </div>

      
    </article>

    <article class="article" >
        
        
    
      <nav class="navbar">
        
      
        <h3> A cerca de .... </h3>
          
          
        <button type="button" class="btn btn-navbar" >
            
         <img src="../../../assets/imagenes/editarr.png" width="20px" height="20px">
           
          </button>
        </nav>

      </article>

      <article class="article" >
        <nav class="navbar">
        
          <h3>Experiencia</h3>
            
          <button type="button" class="btn btn-navbar" >
              
           <img src="../../../assets/imagenes/editarr.png" width="20px" height="20px">
             
            </button>
          </nav>

          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est corrupti repudiandae quo amet magnam
            mollitia necessitatibus incidunt veritatis officia veniam aperiam, sunt cumque sequi? Perferendis
            doloremque quaerat eos quas dolores.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, ipsum? Minus unde quia officiis ipsum
            laboriosam dolorem. Similique, recusandae dicta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, ipsum? Minus unde quia officiis ipsum
            laboriosam dolorem. Similique, recusandae dicta.</p>
       
      </article>
    
      <article class="article" >
        <nav class="navbar">
        
          <h3>Educación</h3>
            
          <button type="button" class="btn btn-navbar" >
              
           <img src="../../../assets/imagenes/editarr.png" width="20px" height="20px">
             
            </button>
          </nav>

          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est corrupti repudiandae quo amet magnam
            mollitia necessitatibus incidunt veritatis officia veniam aperiam, sunt cumque sequi? Perferendis
            doloremque quaerat eos quas dolores.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, ipsum? Minus unde quia officiis ipsum
            laboriosam dolorem. Similique, recusandae dicta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, ipsum? Minus unde quia officiis ipsum
            laboriosam dolorem. Similique, recusandae dicta.</p>
       
      </article>
   
      <article class="article" >
        <nav class="navbar">
        
          <h3>Hard skills and Soft skills</h3>
            
          <button type="button" class="btn btn-navbar" >
              
           <img src="../../../assets/imagenes/editarr.png" width="20px" height="20px">
             
            </button>
          </nav>

          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est corrupti repudiandae quo amet magnam
            mollitia necessitatibus incidunt veritatis officia veniam aperiam, sunt cumque sequi? Perferendis
            doloremque quaerat eos quas dolores.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, ipsum? Minus unde quia officiis ipsum
            laboriosam dolorem. Similique, recusandae dicta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, ipsum? Minus unde quia officiis ipsum
            laboriosam dolorem. Similique, recusandae dicta.</p>
       
      </article>

    
  
      <article class="article" >
        <nav class="navbar">
        
          <h3>Proyectos</h3>
            
          <button type="button" class="btn btn-navbar" >
              
           <img src="../../../assets/imagenes/editarr.png" width="20px" height="20px">
             
            </button>
          </nav>

          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est corrupti repudiandae quo amet magnam
            mollitia necessitatibus incidunt veritatis officia veniam aperiam, sunt cumque sequi? Perferendis
            doloremque quaerat eos quas dolores.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, ipsum? Minus unde quia officiis ipsum
            laboriosam dolorem. Similique, recusandae dicta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, ipsum? Minus unde quia officiis ipsum
            laboriosam dolorem. Similique, recusandae dicta.</p>
       
      </article>
        

</main>
</div>

  
