.container{
    
    margin: 0px ;
    overflow:auto;
    min-height: 250px;
    
    width: 100%;
    max-width: 1800px;
    background-color: #e0ae63;
    padding:10px;
    

}


.container>.content {
  grid-column: span 3;
  grid-row: span 4;
  padding: 0;
}

h3{
    display: inline;
}

h2,bottom{
    display: inline;
    
}


.content>.article {
  
  background: #f1e3cc;
  padding: 20px;
  padding-left: 30px;
  margin-top: -4px;
  color: #292b2c;
  border: 1px solid rgb(223, 195, 163);
  border-radius: 10px;
  justify-content: left;
  
 
}



@media(max-width:575px){

     #p1 {
          position:absolute;
          width:50%;
          left:7%;
          top:930px;

      }

      #b1 {
        position:absolute;
        width:50%;
        left:65%;
        top:930px;

    }


  
      #p2 {
          position:absolute;
          width:90%;
          left:5%;
          top:970px;

      }
      
  }



  @media(min-width:575px){
  #b1 {
    position:absolute;
    
    left:94%;
    

}}





  

