

  <div class="btn-fluid">

  
       <button class="btn btn-light" ><a href=""><img src="/assets/imagenes/facebook.png" height="25px" ></a></button> 
       <button class="btn btn-light"><a href=""><img src="/assets/imagenes/gihub.png" height=25px></a></button>
       <button class="btn btn-light"><a href=""><img src="/assets/imagenes/instagram.png" height=25px></a></button>

      <button type="button" class="btn btn-light" margin-right="-2px"><strong>Login</strong></button> 
    
  </div>    
 

    