<div class="container" >

    <main class="content">
    
        <article  class="article" >

            <h2 id="p1">Educación</h2>
            <button id="b1" type="button" class="btn btn-navbar" >
              
                <img src="../../../assets/imagenes/editarr.png" width="20px" height="20px">
                  
                 </button>
            <div id="p2" class="col-lg-11">
                <ul>
                    <li><h4 id="p1">Estudio 1</h4><h5>(Years)</h5></li>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. 
                        Quasi quibusdam ad ullam aspernatur,
                        repudiandae totam, illo quos atque 
                        optio dolorem perspiciatis. </p>
                </ul>

                <ul>
                    <li><h4 id="p2">Estudio 2</h4> <h5>(Years)</h5></li>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. 
                        Quasi quibusdam ad ullam aspernatur,
                        repudiandae totam, illo quos atque 
                        optio dolorem perspiciatis. </p>
                </ul>
            
    
     

    
    </div>
      
  </article>
</main>
</div>
