<div class="row">


    <img class="img-fuid" src="../../../assets/imagenes/fotoperfil2.jpg"  id="fotodeperfil" >
    

              
  
<div class="container">

  
<h5 id="nombre" >Gabriela Lucero</h5>
<p id="p"> Full Stack Developer Jr</p>

  


  
  <span>
    <h1 id="acercade">A cerca de mi ...</h1>

    <p id="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      In deserunt assumenda ipsam vero optio sapiente debitis, reprehenderit alias,
      consequatur natus voluptates ipsum odio laboriosam sit magni. 
      Sint dolorum illum necessitatibus?

    </p>
  </span>


  
  
    <button class="btn btn-light" type="button" style="margin: 3px">Tengo interés en</button>
    <button class="btn btn-light" type="button" style="margin: 3px">Añadir seccion</button>
    <button class="btn btn-light" type="button" style="margin: 3px">Más</button>

 
</div>
  

 

</div>

