<div class="row">


  <img class="img-fuid" src="../../../assets/imagenes/fotoperfil2.jpg"  id="fotodeperfil" >
    
  <div id="caja1" class="container">
  
    
  <h5 id="nombre" >Gabriela Lucero</h5>
  
  <p id="p"> Full Stack Developer Jr</p>
  
    
    <span>
      <h3 id="acercade">A cerca de mi ...</h3>
  
      <p id="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        In deserunt assumenda ipsam vero optio sapiente debitis, reprehenderit alias,
        consequatur natus voluptates ipsum odio laboriosam sit magni. 
        Sint dolorum illum necessitatibus?
  
      </p>
    </span>
  
      <button id="b1" class="btn btn-light" type="button" style="margin: 3px">Tengo interés en</button>
      <button id="b2" class="btn btn-light" type="button" style="margin: 3px">Añadir seccion</button>
      <button id="b3" class="btn btn-light" type="button" style="margin: 3px">Más</button>
  
  </div>
    

 

</div>

