<div class="row">

    <div class="container">
    
        <div class="article">

            <div class="col-sm-12 col-md-7 col-lg-7 parte1">

            <h3>Proyectos realizados</h3>

            <h4>Diseño de porfolio Web</h4>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed fugiat voluptatum, 
            voluptatem recusandae voluptates ut soluta ipsam quia suscipit, laborum aliquid dolor 
            dignissimos sequi veritatis. Aliquam ducimus cumque totam provident.</p>


                
            <img src="../../../assets/imagenes/proyectos.PNG" width="70%" class="img-fluid" class="img-formato">
                </div>
            

        </div>

    </div>
</div>